#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80px; /* Altura fixa em pixels */
  background-color: royalblue;
}

nav a {
  color: white;
  font-size: 1.5em;
  padding: 15px;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Altura em vh (pode ser mantida se desejado) */
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50px; /* Altura fixa em pixels */
  background-color: darkblue;
}
